<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDatabaseConnection"
			 connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=UserDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
